<div class="page-header">
<h1>忘記你的帳號密碼？</h1>
</div>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "寄送密碼提示" %>
  </div>
<% end %>
<p></p>
<%= render "devise/shared/links" %>
