<div class="page-header" style="text-align: center">
<h1>
  <%= @project.author.name %>
    <% if @project.showname? %>
      (署名)
    <% else %>
      (匿名)
    <% end %>
</h1>
</div>

<div class="panel panel-default " style="width: 70%; margin: 0px auto">
  <div class="panel-heading">
    <h3 class="panel-title" style="text-align:center">這次的登月目標是什麼？</h3>
  </div>
  <div class="panel-body" style="text-align:center">
    <%= @project.mastergoal %>
  </div>
</div>

<br>
<div style="text-align:center">
  <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
</div>
<br>

<div class="panel panel-default" style="width: 70%; margin: 0px auto">
  <div class="panel-heading">
    <h3 class="panel-title" style="text-align:center">明確的子目標是什麼？</h3>
  </div>
  <div class="panel-body" style="text-align:center">
    <%= @project.secondgoal %>
  </div>
</div>

<br>
<div style="text-align:center">
  <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
</div>
<br>

<div class="panel panel-default" style="width: 70%; margin: 0px auto">
  <div class="panel-heading">
    <h3 class="panel-title" style="text-align:center">怎樣才算是成功？</h3>
  </div>
  <div class="panel-body" style="text-align:center">
    <%= @project.success %>
  </div>
</div>

<br>
<div style="text-align:center">
  <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
</div>
<br>

<div class="panel panel-default" style="width: 70%; margin: 0px auto">
  <div class="panel-heading">
    <h3 class="panel-title" style="text-align:center">這件事有可能辦到嗎？</h3>
  </div>
  <div class="panel-body" style="text-align:center">
    <%= @project.can %>
  </div>
</div>

<br>
<div style="text-align:center">
  <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
</div>
<br>

<div class="panel panel-default" style="width: 70%; margin: 0px auto">
  <div class="panel-heading">
    <h3 class="panel-title" style="text-align:center">這件事能配合現實生活嗎？</h3>
  </div>
  <div class="panel-body" style="text-align:center">
    <%= @project.how %>
  </div>
</div>

<br>
<div style="text-align:center">
  <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
</div>
<br>

<div class="panel panel-default" style="width: 70%; margin: 0px auto">
  <div class="panel-heading">
    <h3 class="panel-title" style="text-align:center">時間進度怎麼定？</h3>
  </div>
  <div class="panel-body" style="text-align:center">
    <%= @project.when %>
  </div>
</div>

<br>
<hr>
<div id="disqus_thread" style="width: 70%; margin: 0px auto"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    /*
    var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//moon-project.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>


