<div class="jumbotron" style="background-image: url(https://s3-ap-northeast-1.amazonaws.com/moonproject/img/more.jpg); background-size: cover; background-repeat: no-repeat; background-attachment:center; background-position: center">
  <div class="container">
    <h1 style="color: white">More Project</h1>
    <h1 style="color: white">登月計劃看板</h1>
    <h2 style="color: white">給夥伴鼓勵和建議</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <% @projects.each do |project| %>
      <ul class="list-group">
        <a href="<%= project_path(project) %>"class="list-group-item active">
          <h4><%= project.mastergoal %><span style="float:right" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"</span></h4>
        </a>
        <li class="list-group-item">
          <p><strong>登月目標是?</strong></p>
          <p><%= project.mastergoal %></p>
        </li>
        <li class="list-group-item">
          <p><strong>子目標是?</strong></p>
          <p><%= project.secondgoal %></p>
        </li>
        <li class="list-group-item">
          <p><strong>怎樣算是成功？</strong></p>
          <p><%= project.success %></p>
        </li>
        <li class="list-group-item">
          <p><strong>有可能辦到嗎？</strong></p>
          <p><%= project.how %></p>
        </li>
        <li class="list-group-item">
          <p><strong>能配合現實生活嗎？</strong></p>
          <p><%= project.can %></p>
        </li>
        <li class="list-group-item">
          <p><strong>時間進度怎麼定？</strong></p>
          <p><%= project.when %></p>
        </li>
      </ul>
    <% end %>
  </div>
</div>
