<!DOCTYPE html>
<html>
<head>
  <title>Moon 登月計劃</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/earlyaccess/notosanstc.css">
</head>
<body>

<div class="container">
  <%= render "common/navbar" %>
  <%= yield %>
  <%= render "common/footer" %>
  <%= render "plugin/ga" %>
  <%= render "plugin/messanger" %>
</div>

</body>
</html>
