<!DOCTYPE html>
<html>
<head>
  <title>Moon 登月計劃</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">
  <%= render "common/navbar" %>
  <%= notice_message %>
  <%= yield %>
  <%= render "common/footer" %>
  <%= render "plugin/ga" %>
  <%= render "plugin/messanger" %>
</div>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= yield :handwrite_javascript %>
</body>
</html>
